<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{app_base.html}">
<head>
  <title>Roles</title>
</head>
<body>
<div layout:fragment="content" class="d-flex flex-column flex-grow-1 content">
  <div class="container mt-5">
    <div class="d-flex flex-row justify-content-between mb-3">
      <div></div>
      <div>
        <a th:href="@{/admin/roles/new}" th:class="@{btn btn-sm btn-success}">
          <i class="fa-solid fa-user-gear me-1"></i> <span>New</span>
        </a>
      </div>
    </div>
    <div id="roleAjaxContainer">
      <ul class="list-group">
        <li th:each="role : ${roleList}" th:class="@{list-group-item}">
          <div class="d-flex flex-row justify-content-between">
            <div>
              <a th:href="${'/admin/roles/' + role.objectId}" th:class="@{fw-bold text-decoration-none}" th:text="${role.name}"></a>
            </div>
            <div th:text="${role.totalUsers()}"></div>
            <div th:text="${role.description}"></div>
            <div th:text="${role.createdAt}"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>