<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{app_base.html}">
<head>
  <th:block th:insert="external_js"></th:block>
  <title>Title</title>
</head>
<body>
  <div layout:fragment="content" class="d-flex flex-column flex-grow-1 content">
    <div class="container mt-5">
      <div class="col-6 offset-3">
        <span class="fs-2 d-block text-center">Create Database</span>
        <span class="font-monospace d-block mt-1 mb-4">A database is a virtual space where you can store the issues.</span>
        <form th:object="${form}">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="mb-3">
            <label class="form-label fw-semi-bold" for="name">Name</label>
            <input autocomplete="off" id="name" th:field="*{name}" type="text" class="form-control w-100"/>
          </div>
          <div class="mb-3">
            <label class="form-label fw-semi-bold" for="code">Code</label>
            <input autocomplete="off" id="code" th:field="*{name}" type="text" class="form-control w-25"/>
          </div>
          <div class="mb-3">
            <label class="form-label fw-semi-bold" for="description">Description<span class="text-muted"> (Optional)</span></label>
            <input autocomplete="off" id="description" th:field="*{description}" type="text" class="form-control w-100"/>
          </div>
          <div class="mb-3">
            <label class="form-label fw-semi-bold" for="notes">Notes<span class="text-muted"> (Optional)</span></label>
            <textarea id="notes" class="rt-editor" th:field="*{notes}"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>